.todo-list li{
    border-left: none;
}

.todo-list>li .text {
    min-width: 50%;
}

.SpreadsheetTaskName-input {
    background: transparent;
    border-radius: 0;
    display: block;
    height: 100%;
    outline: 0;
    overflow: hidden;
    position: absolute;
    resize: none;
    top: 0;
    width: 100%;
}