.todo-list li{
    border-left: none;
}

.todo-list>li .text {
    min-width: 50%;
}

.SpreadsheetTaskName-input {
    background: transparent;
    border-radius: 0;
    display: block;
    height: 100%;
    outline: 0;
    overflow: hidden;
    position: absolute;
    resize: none;
    top: 0;
    width: 100%;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

/**
stop multiline edit in task textbox(li)
 */
[contenteditable="true"].task {
    white-space: nowrap;
    overflow: hidden;
}
[contenteditable="true"].task br {
    display:none;

}
[contenteditable="true"].task * {
  /**
    display:inline;
   */
    white-space:nowrap;
}
/**/

.todo-list>li {
     margin-bottom: -1px !important;
}



body {
    font-family: "Lato";
    margin: 0;
    padding: 0;
}

#Task {
    overflow-x: auto;
    padding: 20px 0;
}

.modal-content {
    margin-top: -29px;
    margin-left: 561px;
    min-height: 95%;
    height: 100%;
}

.modal-header {
    padding-top: 0.2rem;
    padding-left: 1rem;
    padding-bottom: 0.3rem;
}

.modal-footer {
    padding: 1.4rem;
}

.border {
    padding-top: 0;
    padding-left: 9px;
    padding-right: 7px;
    margin-left: 0;
    margin-top: 4px;
}

.padding {
    margin: 10px;
}

.padding-dropdown {
    padding-top: 10px;
    padding-left: 475px;
}

.dropdown-menu {
    top: 4px;
    left: auto !important;
    right: 91px !important;
}

.myInput {
    border-style: none;
}

.myInput:hover {
    border-style: solid;
}

.myInput:focus {
    border-style: solid;
}

.myTextarea {
    border-style: none;
    margin-left: -10px;
}

.myTextarea:hover {
    border-style: solid;
}

.myTextarea:focus {
    border-style: solid;
}

.input-icons i {
    position: absolute;
}
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
.icon {
    padding: 10px;
    min-width: 50px;
    text-align: center;
}
.input-field {
    width: 100%;
    padding-left: 36px;
    padding-top: 7px;
    text-align: left;
}

.modal-footer{
    align-items: center;
    display: block;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
}
textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
}