.todo-list li{
    border-left: none;
}

.todo-list>li .text {
    min-width: 50%;
}

.SpreadsheetTaskName-input {
    background: transparent;
    border-radius: 0;
    display: block;
    height: 100%;
    outline: 0;
    overflow: hidden;
    position: absolute;
    resize: none;
    top: 0;
    width: 100%;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

/**
stop multiline edit in task textbox(li)
 */
[contenteditable="true"].task {
    white-space: nowrap;
    overflow: hidden;
}
[contenteditable="true"].task br {
    display:none;

}
[contenteditable="true"].task * {
    white-space:nowrap;
}
/**/

.todo-list>li {
     margin-bottom: -1px !important;
     display: flex;padding: 0;
}

.set-custom-border{
    border-right: 1px solid #e7e7e7;padding: 10px;
}

.set-last-child-padding{
    padding: 10px;
}

.set-custom-padding{
    padding: 0px;
}

[contenteditable="faslse"].direct-chat-img {
    display:none;
}

.task-panel {
    padding: 10px;
}

.tasks {
    min-height: 565px;
    max-height: 565px;
    overflow-y: auto;
}


